<h1><%= @message %></h1>

<%= link_to 'New article', article_add_path %>

<% @articles.each do |article| %>
<div class="article">
  <em>Posted <%= time_ago_in_words(article.created_at) %> ago</em>
  <h3><%= article.title %></h3>
  <p><%= article.body %></p>
  <%= link_to 'Edit article', action: "edit", controller: "article", id: article.id %>
</div>
<% end %>