<h1>Edit Article</h1>
<p id="notice"><%= notice %></p>

<%= form_for @article, url: {action: "update"}, method: "put" do |f| %>
  <% if @article.errors.any? %>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <label>Title</label><br>
  <%= f.text_field :title %><br>
  <label>Body</label><br>
  <%= f.text_area :body, size: "60x12" %><br>
  <%= f.hidden_field(:id, :value=>@article.id) %><br>
  <%= f.submit "Update" %>

  <%= link_to "<<Back to Home", root_path %>  
<% end %>
